[2022-07-15 20:42] Runner3131 opened #1 "More details"
Write more HTML code to upload.

[2022-07-25 14:26] biratdatta commented on #1
Sure updating..

[2022-08-03 15:39] Runner3131 commented on #1
Sorry, I just realized that sounded mean. I meant I was going to help you by adding some, just got busy.

[2022-08-03 16:16] biratdatta commented on #1
Let's do this together. We can cover Sass too

[2022-08-25 21:59] Runner3131 commented on #1
Yes i will help you, i just forked it so I start working on it as soon as I can,

[2022-10-02 06:37] Antibodyy opened #2 "Sort the website links by category"
Categories would include -
1. Social Media sites
2. News sites.
3. Research sites
and so on.

[2022-10-02 07:04] Priyanshup891 opened #4 "improve the ui"

[2022-10-02 07:05] #4 closed

[2022-10-02 07:54] avidashu opened #6 "Lists in HTML"
Adding type of lists in html

[2022-10-02 08:59] biratdatta commented on #6
Sure u can go ahead with it

[2022-10-02 09:00] biratdatta commented on #2
Sure u can go ahead.

[2022-10-02 09:17] Slmpire opened #8 "Creating a drop-down menu"
Hi,
I will be adding drop-down menu for on click and on hover
Will like it to be tag "Hacktoberfest"

[2022-10-02 09:37] Nakamcode commented on #8
the label will be added later

[2022-10-02 09:59] avidashu commented on #6
Merge my pr pls and add hactober-fest accepted label

[2022-10-02 10:30] Girlwithasmile opened #9 "Form in html"
Hello, I am a hackthoberfest 2022 contributer and would like to add to ur project code and preview for making a form in html.

[2022-10-02 11:05] biratdatta commented on #8
Sure You can go ahead with it

[2022-10-02 11:05] biratdatta commented on #9
Sure you can go ahead and raise a pull request once it is done

[2022-10-02 11:12] B1TSH3LL commented on #8
please assign it to me ???

[2022-10-02 11:17] biratdatta commented on #8
@B1TSH3LL you can work on something else , try adding features such as scrolling or navbar

[2022-10-02 11:21] Daksh-964 commented on #9
Hello folks, I am a hacktoberfest 2022 contributor. I would like to contribute to this repository.

[2022-10-02 11:28] biratdatta commented on #9
@Daksh-964  you can go ahead and work on something else which is not yet done.

[2022-10-02 11:31] avidashu opened #10 "Tables in HTML"
Please add the hacktoberfest label and assign this issue to me.

[2022-10-02 11:34] biratdatta commented on #10
Done! GO ahead

[2022-10-02 11:59] avidashu opened #13 "Symbols in HTML"
Please give it label as hacktoberfest and assign it to me

[2022-10-02 12:00] #10 closed

[2022-10-02 12:18] avidashu opened #16 "Explaning use of class in HTML"
please label it as hacktoberfest

[2022-10-02 13:29] #16 closed

[2022-10-02 13:40] #13 closed

[2022-10-02 13:43] #6 closed

[2022-10-02 13:45] avidashu opened #17 "HTML Youtube"

[2022-10-02 16:20] Shaba1406 opened #20 "Improvement of Overall Webpage"
I want to Improve and align whole page

[2022-10-02 18:04] mohakgupt opened #21 "Adding Button Designs"
Hi, I want to add some CSS animated button designs under Hactoberfest 2022.

[2022-10-02 18:28] Ksj14-kumar commented on #21
Hello! I would like to solve this issue can you please assign me this issue?
and also accept it and add a label tag of hactoberfest accepted. please

[2022-10-02 19:08] Pallavibahekar commented on #21
Hi,  I am good at assigning design to  buttons so could you please assign me this issue.

[2022-10-03 04:06] biratdatta commented on #21
@Pallavibahekar @Ksj14-kumar @mohakgupt You 3 can start accordingly create a new HTML page for buttons and merge it there

[2022-10-03 04:08] biratdatta commented on #20
@Shaba1406 sure go ahead

[2022-10-03 06:29] dipanshusingh2107 opened #26 "Animated text"
I would like to add animated text

[2022-10-03 06:47] AtriSukul1508 opened #27 "Add more info in the second page"

[2022-10-03 06:47] AtriSukul1508 commented on #27
i would like to work on this issue

[2022-10-03 06:54] shriya-tiwari opened #28 "Adding Navbar designs"
I can write HTML, CSS for different navbar designs.

[2022-10-03 06:55] shriya-tiwari commented on #28
Please assign it to me.

[2022-10-03 07:29] ayeola05 opened #29 "Add css animations"
Will add nice css animations

[2022-10-03 07:30] ayeola05 commented on #29
Assign to me

[2022-10-03 08:05] komalsoni4 commented on #27
I would like to add some mcq type questions on second page. Please assign it to me

[2022-10-03 08:05] KanishkDadhich commented on #29
Hey @biratdatta . I can add some more animations on the buttons. It would be pretty more informative for everyone.
Thanks :)

[2022-10-03 08:06] komalsoni4 commented on #20
Can you please assign it to me

[2022-10-03 08:07] komalsoni4 commented on #2
I would like to add more links like some helpful github repositories . Please assign it to me

[2022-10-03 08:21] Emilance opened #30 "discovered a typo in index.html file on the root directory"
Commented line 160 in the index.html file of the root directory was typed  wrongly -[ Lets give it a id name so we can access its value using getElementbyId] instead of [Lets give it an id name so we can access its value using getElementbyId ].

A wrong article was assigned to id it should be 'an id' not 'a id'

[2022-10-03 10:11] Johnoris commented on #30
Assign this to me I'll love to fix it

[2022-10-03 10:28] Johnoris commented on #30
I already fixed and created a pr you can close the issue

[2022-10-03 10:29] Shaba1406 commented on #20
@biratdatta You can assign it to @komalsoni4 , right now i am busy with my academics so it will take time for me to complete this task  but further i will add some more features once it is done by @komalsoni4

[2022-10-03 11:55] komalsoni4 opened #32 "Categories each section on the website with proper heading and style"
Please assign me this issue I would like to make this page well arranged and also label it hacktoberfest @biratdatta

[2022-10-03 13:35] biratdatta commented on #2
@komalsoni4 u do it now and later I will assign

[2022-10-03 13:36] biratdatta commented on #29
Please fork it and do a pull request

[2022-10-03 13:36] biratdatta commented on #28
@shriya-tiwari  pls do it

[2022-10-03 13:55] aishwarya1735 commented on #17
can this issue be explained in detail and be assigned to me?

[2022-10-03 14:02] Sourodip20kar opened #34 "I want to add full html cheatsheet"
Plz assign the task to me

[2022-10-03 14:04] #34 closed, assigned to nobody

[2022-10-03 15:19] shriya-tiwari commented on #28
yup on it !!

[2022-10-04 03:02] #29 closed

[2022-10-04 05:06] aksha123-git commented on #9
I would like to contribute on this issues please assigned it to me

[2022-10-04 08:20] #17 closed

[2022-10-04 08:49] yunsuklee opened #43 "HTML Obsolete Tags"
Hey! I loved the idea, would have been helpful to find one of these while I was learning. You could even provide it to learning institutions like freeCodeCamp to include as an annex.

I'd like to include a section on the HTML cheatsheet regarding obsolote tags that are no longer encouraged to be used. Guess would be nice to have them when reading old web pages or avoiding mistakes when creating a

[2022-10-04 10:55] TenzinNsut commented on #28
Hey Birat Datta, I am new to opensource and would like to contribute to your project, specifically in Navigation Bar design.
I have some past experience in creating web pages. So, if possible I would really love to work for the same.

[2022-10-04 13:25] biratdatta commented on #43
That's a nice idea. Please continue

[2022-10-04 15:47] Tyagiquamar opened #46 "Youtube vide embedding not include in html cheatsheet"
Want to contribute

[2022-10-04 15:57] nihal-soni opened #47 "Want to help you by creating Java Fundamental CheatSheet"
This will be very beneficial for beginner

[2022-10-04 16:37] sakshimishra19 opened #48 "HTML cheatsheet for creating table."
Hello  @biratdatta

I want to work on this issue kindly assign it to me :)

[2022-10-04 17:06] shriya-tiwari commented on #28
I am currently working on this one, and will shortly put a PR regarding this.

[2022-10-05 02:56] Anjuli08 opened #50 "HTML marquee text"
I would like to add text in a Marquee under the hactoberfest!

[2022-10-05 02:59] Anjuli08 opened #51 "Improve UI of the page"
I would like to improve the UI of the page through css under hactoberfest.

[2022-10-05 04:31] biratdatta commented on #51
sure

[2022-10-05 04:31] biratdatta commented on #50
cool goahead

[2022-10-05 04:32] biratdatta commented on #48
sure

[2022-10-05 04:33] biratdatta commented on #46
Sure go ahead

[2022-10-05 05:24] Nk-rodrigues opened #54 "CSS Tricks"
I would like to add few CSS tricks/snippets to CSS cheatsheet

[2022-10-05 06:03] YashM246 commented on #9
If this issue is still open, I would like to work on it!

[2022-10-05 13:19] Villain45 opened #57 "Cheat Sheet for JS"
Can we add a basic cheat sheet of JavaScript which can be useful in development

[2022-10-05 14:26] Mahich123 opened #59 "Git cheat sheet"
I would like to include git cheat sheet in this repo . Can you assign me ?

[2022-10-05 14:29] aritroo opened #60 "Mongo DB cheatsheet"
Hello @biratdatta
I want to add a Mongo DB cheat sheet . Please assign me for hacktoberfest.

Thank You. 😀

[2022-10-05 14:33] BrunoLagoa commented on #43
Nice! great idea 👏

[2022-10-05 17:35] sumitbaroniya commented on #21
Please assign me this issue. I would like to contribute under Hactoberfest 2022.

[2022-10-05 18:02] sanketdisale871 commented on #21
I want to work on this issue. Assign to me @Ksj14-kumar

[2022-10-06 04:58] biratdatta commented on #60
Hey, you can create a seperate Page for that and start doing that.

[2022-10-06 04:59] biratdatta commented on #59
Sure you can go ahead

[2022-10-06 05:01] aritroo commented on #60
are u asking to add the file by creating a new directory??

[2022-10-06 05:26] biratdatta commented on #60
No in the same thing with different extension for that

[2022-10-06 05:28] aritroo commented on #60
Ok got it 🙂

[2022-10-06 10:11] Mahich123 commented on #59
Should I create md file in a directory and include in their ?

[2022-10-06 11:31] Mahich123 commented on #59
Made pr can you check it pls

[2022-10-06 17:06] hjain2003 opened #66 "Number Guesser"
Hi! I would like to add a number guesser game using html css and js

[2022-10-06 18:43] biratdatta commented on #66
Cool, go ahead

[2022-10-06 19:01] Anisha7860 opened #69 "more info on how to contribute"

[2022-10-06 19:39] motasimmakki commented on #69
Hey there, I would like to work on this.

[2022-10-06 20:45] biratdatta commented on #69
Hey you can check the contributing guidelines for how to contribute, and u can check out other people contribution too

[2022-10-06 21:20] Mitternachtsmond opened #70 "Improving Contributing.md file"
- Add proper instructions to clone and contribute via making a PR for the project

[2022-10-06 21:20] Mitternachtsmond commented on #70
Can I do this?

[2022-10-06 21:22] PeritusDeveloper opened #71 "Making the README file more appealing"
### Glimpse
<img width="461" alt="image" src="https://user-images.githubusercontent.com/89828000/194421067-1a4c429c-8eb9-4bb0-8b05-8372dc6d2087.png">

[2022-10-06 21:23] PeritusDeveloper commented on #71
I wanted to ask @biratdatta
This repo is not excluded for hacktoberfest right?

If not I want to do this

[2022-10-07 03:59] #50 closed

[2022-10-07 04:00] sumitbaroniya commented on #59
Please assign me this issue

[2022-10-07 04:01] sumitbaroniya commented on #57
Please assign me this issue

[2022-10-07 04:01] sumitbaroniya commented on #28
Please assign me this issue

[2022-10-07 04:02] sumitbaroniya commented on #8
Please assign me this issue

[2022-10-07 04:03] biratdatta commented on #71
No it is included in Hacktoberfest, you can go ahead update it too @PeritusDeveloper

[2022-10-07 04:04] biratdatta commented on #70
@Mitternachtsmond sure go ahead

[2022-10-07 06:29] Slmpire commented on #8
@sumitbaroniya  someone is already working on it
You can try to add another feature

[2022-10-07 07:03] Mitternachtsmond commented on #70
Can you assign me this?

[2022-10-07 07:03] PeritusDeveloper commented on #71
I will do it

[2022-10-07 08:41] psb27 opened #82 "Profile Card Component"
Add profile card component using HTML, CSS, and JavaScript. It will have skills and social media links as well.

[2022-10-07 08:41] psb27 commented on #82
Assign this issue to me and please add hacktoberfest tag in this issue.

[2022-10-07 08:47] Anisha7860 commented on #69
So can you allot this to me

[2022-10-07 13:24] Mitternachtsmond commented on #70
That's unfair you accept PR even if issue is neither created by then nor assigned to them

[2022-10-07 17:15] BhaveshAnandpara commented on #51
I would like to contribute , Can I ??

[2022-10-07 19:31] biratdatta commented on #51
Sure

[2022-10-08 03:11] Anjuli08 commented on #51
Hey I'm still working on it

[2022-10-08 03:18] BhaveshAnandpara commented on #51
@Anjuli08 no problem 👍 You can do it as well

[2022-10-08 04:02] biratdatta commented on #82
@psb27 sure

[2022-10-08 07:02] frypan01 opened #90 "Parallax Website Cheatsheet"
A handy , simple,  awesome steps  for creating an impressive parallax effect to your website!!

[2022-10-08 07:18] frypan01 opened #91 "Add Login page"
Add login page using html, css and js.

[2022-10-08 07:25] farhanpro commented on #91
Okay I'm interested i  will do it

[2022-10-08 07:36] Krunal-Karena commented on #91
Please assign me this issue.

[2022-10-08 12:58] frypan01 commented on #90
please assign this to me!!

[2022-10-08 12:59] frypan01 commented on #91
please assign this to me!!

[2022-10-08 13:12] sakshi025 commented on #9
@biratdatta  I am a hacktoberfest 2022 contributor. I would like to contribute to this repository.

[2022-10-08 15:42] biratdatta commented on #91
go ahead

[2022-10-08 19:30] KIET7UKE opened #96 "Python Cheat Sheet"

[2022-10-08 19:32] KIET7UKE commented on #96
I would love to contribute some python cheat sheets to this repository, I would appreciate it if you would assign me.

Thank you
Sahil Sharma

[2022-10-09 06:02] shivanidotcom commented on #9
Is this issue still open I want to work on this issue.

[2022-10-09 06:08] sumitbaroniya commented on #60
please assign me this issue. I want to contribute in it.

[2022-10-09 06:09] sumitbaroniya commented on #66
please assign me this issue. I would like to contribute in it.

[2022-10-09 06:10] sumitbaroniya commented on #26
please assign me this issue. I would like to contribute in it.

[2022-10-09 06:10] sakshi025 commented on #91
i also want to add login page ..please assign this

[2022-10-09 06:21] sumitbaroniya commented on #91
Please assign me this issue. I would like to contribute in it.

[2022-10-09 06:21] sumitbaroniya commented on #96
Please assign me this issue. I would like to contribute in it. Please add the label of hacktoberfest.

[2022-10-09 06:22] sumitbaroniya commented on #90
Please assign me this issue. I would like to contribute in it.

[2022-10-09 06:34] KIET7UKE commented on #96
This issue is already opened by me. Kindly make your own another issue @sumitbaroniya Thanks

[2022-10-09 07:08] YashM246 commented on #70
Hey if this issue is still open I would like to work on this!

[2022-10-09 07:18] biratdatta commented on #60
Update @aritroo

[2022-10-09 07:22] aritroo commented on #60
@biratdatta Sorry actually due to some technical issues I am currently unable to work on my laptop but I will fix it and will update ASAP.

[2022-10-09 07:39] aritroo commented on #60
@biratdatta
due some technical problems in my laptop i couldn't able to work . I am extremely sorry for this.

[2022-10-09 08:14] sumitbaroniya opened #99 "Add Reactjs cheatsheet"
As reactjs is trending nowadays. This cheatsheet might help others to learn this reactjs.
Please assign me this issue under hacktoberfest.

[2022-10-09 10:11] AditiBendre commented on #9
Hii
Can i work on this issue. I will send a PR today , if this issue is still open.

[2022-10-09 10:38] AditiBendre commented on #48
If the work is not done ,can i work on this?

[2022-10-09 13:01] biratdatta commented on #99
Sure go ahead

[2022-10-09 13:02] biratdatta commented on #60
Then @sumitbaroniya you can go ahead

[2022-10-09 14:35] biratdatta commented on #26
@dipanshusingh2107  updates

[2022-10-09 15:30] sumitbaroniya commented on #99
Please add the label of hacktoberfest

[2022-10-09 16:11] imgk007 commented on #47
Same I am also ready to help regarding creating Java Cheat Sheet.

[2022-10-09 16:15] nihal-soni commented on #47
it's already done @imgk007

[2022-10-09 20:51] Swap-nil-2003 opened #104 "Budgetry - Expense Tracker"
A simple expense tracker app built with HTML,CSS and JS.

[2022-10-09 20:52] Swap-nil-2003 commented on #104
Hi @biratdatta I would like to add this to the repo.

[2022-10-10 02:12] komalsoni4 commented on #71
Please assign it to me

[2022-10-10 05:26] biratdatta commented on #104
Cool go ahead @Swap-nil-2003

[2022-10-10 05:45] #30 closed

[2022-10-10 05:47] ShreejaMehta commented on #91
Hello @biratdatta !
I would Like to work on this issue...
Can you assign it to me?

[2022-10-10 05:48] Shivangbhatnagar237 commented on #91
Can you please share a sample design for the login page that we'll have to work on?

[2022-10-10 05:55] divyanshiet commented on #91
like to work on this issue....
I will design it in better way
can you please assign it to me??

[2022-10-10 06:36] AbhishekKumar2002 opened #109 "Live weather reports about the place you search"
Hi @biratdatta  I want to make a web page that give you live weather reports about the place you search. Kindly assign me this issue for Hacktoberfest 2022.

[2022-10-10 06:42] AbhishekKumar2002 commented on #109
I will use Simple HTML, CSS, and JS.

[2022-10-10 06:53] i-ujjwaljha opened #110 "Update ReadMe file"
Since a lot of newbies are contributing to the repositories, I would like to update the Read Me file in a beginner-friendly manner which will include the steps on how to contribute and the steps you need to follow regarding this.

[2022-10-10 08:28] ZawadiSumba66 commented on #110
Hey I would like to contribute to this issue

[2022-10-10 12:25] sb-decoder opened #116 "Arrange contributionidea.md"
Assign this task to me

[2022-10-10 12:42] biratdatta commented on #109
Go ahead @AbhishekKumar2002

[2022-10-10 12:47] THE-AryanKumar opened #117 "Create and Add random Joke generator"
I want to Add Random Joke generator with Dark-mode and copy button.
Can you pls  /assign me.

[2022-10-10 14:22] AbhishekKumar2002 commented on #109
Kindly check the weather Page and accept my PR.

[2022-10-10 14:23] AbhishekKumar2002 commented on #109
Thank You for giving me this wonderful opportunity @biratdatta

[2022-10-10 14:23] #109 closed

[2022-10-10 14:50] drealmap opened #123 "A simple app built with HTML and CSS while using tools such as CSS grid and flexbox. Pages can also be navigated easily from the navbar"
Hi @biratdatta ,
I would love to add this to the repo as part of hacktoberfest.
Please assign me to this issue

[2022-10-10 14:53] ArkaPrabhaChowdhury opened #124 "Bootstrap Cheatsheet"
Would love to contribute a readme file with few tips and tricks about Bootstrap, a CSS framework.

[2022-10-10 15:07] ArkaPrabhaChowdhury opened #125 "Food Delivery Landing Page(Responsive)"
Excited to include a food delivery landing page built using only HTML and CSS, made responsive using media queries. A perfect starter website for any beginner.

![Screenshot_2022-10-10-20-34-05-213_com.android.chrome.jpg](https://user-images.githubusercontent.com/92904175/194897645-44c0cf8e-5d96-4e33-b162-44fdf17f5d0c.jpg)

![Screenshot_2022-10-10-20-34-22-130_com.android.chrome.jpg](https://user-

[2022-10-10 15:18] LitPreet opened #126 "Title : Nike shoes (animated landing page)"
hey there !
I wanna make a nike shoes animated landing page using tailwind CSS for desktop view.

plz assign me to this project

[2022-10-10 15:32] biratdatta commented on #125
Sure go ahead

[2022-10-10 15:35] biratdatta commented on #123
Sure, GO ahead

[2022-10-10 17:39] dipanshusingh2107 commented on #26
I added all in the PR. You may assign it to someone else to work further on it.

[2022-10-10 18:38] Shahin2003 opened #128 "snapchat icon is missing"
Please assign it to me.

[2022-10-10 18:44] Sumedh-byte opened #130 "Require Validation on Animated Login Page"
Hello @biratdatta , The animated login page has no validation. I can apply validations on Username and Password fields. So the project will be more efficient. Please assign this issue to me.

[2022-10-10 18:47] amitkumar-y commented on #110
Hey @i-ujjwaljha ,
I can updated the readme file, if it's fine then please assign it to me

[2022-10-10 19:05] Shahin2003 commented on #128
@biratdatta and I would also like to enter the proper placeholder values in "contact us" section.

[2022-10-10 19:12] itsmeHrishi commented on #28
I want to start my open-source contribution journey, I will add more variety of navbars. I will be thankful to you if you assign it to me.

[2022-10-10 20:09] yosaami commented on #126
I have already made this project, please assign me this issue

[2022-10-10 20:39] sanvi0071 commented on #59
Hey...I want to work for this issue kindly assign me the issue.

[2022-10-10 21:42] ktwillcode opened #133 "Django Cheatsheet"
Would love to contribute a readme file with a few tips and tricks about the Django framework.

[2022-10-10 21:53] ktwillcode opened #135 "update needed in Readme.md file"
As many new cheat sheets have been added, I would like to update the Readme.md file.
Kindly assign me this work and please add hacktober label :)

[2022-10-10 21:54] ktwillcode commented on #135
@biratdatta

[2022-10-11 00:20] drealmap commented on #123
done

[2022-10-11 04:43] shreyaansjain06 opened #138 "Adding issue template"
A issue template can be added so that creating new issues for the beginner would be easy

Please assign this issue to me so that I can start working on it

[2022-10-11 04:58] biratdatta commented on #138
Sure @shreyaansjain06

[2022-10-11 04:59] biratdatta commented on #135
GO ahead

[2022-10-11 05:00] #133 closed

[2022-10-11 05:00] #59 closed

[2022-10-11 05:01] #126 closed

[2022-10-11 05:01] biratdatta commented on #28
@shriya-tiwari updates

[2022-10-11 05:01] #28 closed

[2022-10-11 05:02] biratdatta commented on #128
Sure go ahead

[2022-10-11 05:02] biratdatta commented on #110
GO ahead
@i-ujjwaljha

[2022-10-11 05:05] biratdatta opened #139 "Rearranging all the files and put it into a structure"
Anyone can take their time out and put all the files in named manner and make it more visually appealing and more accessible to people.

[2022-10-11 05:25] JayrajSingh65 opened #141 "fix: updated readme file"
![Screenshot 2022-10-11 105437](https://user-images.githubusercontent.com/97652040/195003806-2887e6bc-f1bb-4f02-aba8-168908d8e9fe.png)
------
![Screenshot 2022-10-11 105510](https://user-images.githubusercontent.com/97652040/195003808-13b8af21-b1bd-4a82-92ec-43ceb63ac791.png)

[2022-10-11 05:33] Swap-nil-2003 commented on #139
I would like to work on this @biratdatta. One quick question: Do you basically want the files to be put into the respective folders in the repo?

[2022-10-11 06:28] #138 closed

[2022-10-11 06:29] biratdatta commented on #139
Yeah that's what I wanted @Swap-nil-2003

[2022-10-11 06:29] #141 closed

[2022-10-11 07:20] jatin00000 opened #149 "Reactjs Project Execution"
Sir, I want to add info about executing Reactjs projects on local host.
Please assign me this issue under hacktoberfest.

[2022-10-11 07:21] Ankit62042 opened #150 "A website donation website with Payment Gateway Integration using HTML,CSS and JavaScript"
It's a website where people can donate money for different issues like poverty, child education, climate change, COVID etc

[2022-10-11 07:21] Ankit62042 commented on #150
I would like to work on this issue
Can you assign it to me?

[2022-10-11 07:29] LitPreet opened #152 "Title : Music webpage"
Hey there!
I wanna make a music  webpage of amazing UI design
using HTML, CSS and javascript.

Plz assign me this project.
its my first Hactoberfest.

[2022-10-11 08:28] shreyaansjain06 opened #153 "Pr Template"
**Describe the solution you'd like**
Like the issue template it will be good it if the repo has pr template

If you agree please assign this issue to me
I will make the pr

[2022-10-11 08:31] singharyan1007 opened #154 "A Task manager app."
Hi, I want to build a Task manager app using the basic HTML, CSS, JS and NodeJS. It will be well documented and responsive. It is my first Hacktoberfest. Can you assign me this issue?

[2022-10-11 09:06] Ritu-2001 opened #155 "A contact us form and a price template should be added in it,"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-11 09:14] Dicky1 opened #156 "Tailwind Cheatsheet"
very good project i would like to briefly add a cheatsheet in tailwind

[2022-10-11 09:35] yat2k opened #158 "Adding use state and use effect for react js cheatsheet"
I want to add some basics of using use state and use effect in react

[2022-10-11 10:13] #156 closed

[2022-10-11 10:58] ayushsaha1018 opened #161 "add a mongoose cheatsheet"
I want to add a mongoose cheatsheet to this repo.

This cheatsheet would be helpful to all developers using MongoDB.

[2022-10-11 11:48] Kritika30032002 commented on #8
is this still available to contribute

If yes, then assign this to me!!

[2022-10-11 11:56] Kritika30032002 opened #162 "Adding Grid Layout file"
Adding a file explaining the concept of grid layout.

Assign this issue to me!!

[2022-10-11 12:03] Kritika30032002 commented on #139
May I also contribute to this?

[2022-10-11 12:03] Kritika30032002 commented on #155
Assign this issue to me!!

[2022-10-11 12:40] Ritu-2001 opened #165 "Adding CSS dark and light toggler animation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-11 12:40] Ritu-2001 commented on #165
will please assign it?

[2022-10-11 12:44] Ritu-2001 opened #166 "CSS card toggle animation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-11 12:44] Ritu-2001 commented on #166
will please assign me ??

[2022-10-11 13:24] biratdatta commented on #166
Cool go ahead

[2022-10-11 13:27] biratdatta commented on #139
@Swap-nil-2003 what is the status?

[2022-10-11 13:27] biratdatta commented on #162
Sure

[2022-10-11 13:28] biratdatta commented on #161
Sure go ahead

[2022-10-11 13:28] Swap-nil-2003 commented on #139
@biratdatta I have raised the PR in #145

[2022-10-11 13:29] biratdatta commented on #154
Go ahead @singharyan1007

[2022-10-11 14:21] Ritu-2001 commented on #166
@biratdatta  do it , please go and check it

[2022-10-11 15:00] itsmeHrishi opened #172 "Portfolio Pages"
I can add Portfolio pages written in HTML and CSS.

[2022-10-11 18:11] #139 closed

[2022-10-11 18:17] Swastik200 opened #178 "FORM CREATION AND MAPPING"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-11 19:28] Kritika30032002 commented on #162
Hey !!
Is this possible to create different PR's for different commits as When I commited for the another issue of your project only , it got commit in the same PR?

But I need to make it under Different PR's as they are 2 different issues.

[2022-10-12 01:52] #161 closed

[2022-10-12 01:54] #178 closed

[2022-10-12 01:54] #162 closed

[2022-10-12 01:54] biratdatta commented on #172
Go ahead @itsmeHrishi

[2022-10-12 01:55] #166 closed

[2022-10-12 01:55] biratdatta commented on #158
Sure go ahead

[2022-10-12 04:13] satendragangwar opened #183 "Mongodb cheat sheet"
I want to add mongodb cheat sheet . pls assingn this to me.

[2022-10-12 04:22] undextered opened #184 "Buttons Update"
Hey, I have created a button which i would like to add to the buttons template folder.

[2022-10-12 16:06] louierosero opened #191 "Adding Mansory Layout"
# Project Preview
![Mansory Layout](https://user-images.githubusercontent.com/5468245/195393037-853cb10d-966c-4325-a620-7e9e7e0b7447.gif)

## Project Description
Create a Mansory Layout using only HTML and CSS. This layout is almost similar concept of the Pinterest layout on posting their different contents.

[2022-10-12 16:13] biratdatta commented on #184
GO ahead

[2022-10-12 16:13] biratdatta commented on #183
Sure GO ahead

[2022-10-12 16:15] #153 closed

[2022-10-12 16:25] Devansh-Walia opened #192 "hooks in react"
There's a clear lack of hooks in the react cheatsheet and I'd like to contribute to that.

[2022-10-12 16:49] killerraj369 opened #194 "Add Frontend Template"
I want to add a frontend template

[2022-10-12 18:04] biratdatta commented on #194
Sure Go ahead

[2022-10-12 18:30] Sirsha2468 commented on #152
I want to contribute for this. This is my first hactoberfest. Can you please assign this to me?

[2022-10-12 18:45] ArkaPrabhaChowdhury opened #197 "Business Landing Page (Responsive)"
I have created a business landing page that is elegant and professional that would really suit this project and help beginner web developers.

![Screenshot (173)](https://user-images.githubusercontent.com/92904175/195423253-b7c4fbb5-0ce4-456f-8f5d-fab12de4c571.png)
![Screenshot (174)](https://user-images.githubusercontent.com/92904175/195423266-6cc247c9-2eb6-422d-a0f8-c6e5a8e52635.png)
![Screensho

[2022-10-12 18:53] biratdatta commented on #197
Cool go ahead

[2022-10-12 19:29] yat2k commented on #158
Someone else already updated it, so i added the useContext hook.
Also, i must mention that the previous contributor who added useState and useEffect blatantly copied the docs without even remembering that they were supposed to shorten it for making it a cheatsheet xD

[2022-10-12 19:29] #158 closed

[2022-10-13 02:53] ShravaniAK opened #202 "automatic image slider"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-13 06:26] nandinitrivedi05 opened #205 "Adding Payment Form template"
Adding Payment Form Template using simple Html and CSS

Assign this issue to me!!

[2022-10-13 07:07] Prakhar-Goyal-3014 opened #206 "Color Generator With React"
I would Like to add a React Project for generating colors.

Pls assign it to me.

[2022-10-13 07:14] Ritu-2001 opened #207 "I want to add a mini project template of digital animated clock.....can you please assign me?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-13 08:56] saran1522 opened #209 "I want to upload Well structured JS cheastsheet"
I want to add 2 JS cheatsheets that contain all the concepts related to JS in well-structured pdf form.
Neither they are created by me nor I am taking credit for them. I just want to upload them here so they may be useful for many learners. If it is valid then please assign me. THANKS!

[2022-10-13 11:15] biratdatta commented on #209
Sure go ahead

[2022-10-13 11:16] biratdatta commented on #207
Sure go ahead

[2022-10-13 14:36] piyushkdas0611 opened #214 "roadmap of computer science using imagemap"
An imagemap which will open wikipedia links to different fields of computer science.
i would like to contribute on this.
please assign me this issue.

[2022-10-13 14:49] Ritu-2001 commented on #207
ok

[2022-10-13 15:21] Ritu-2001 commented on #207
Done , Please check it and merge it

[2022-10-13 16:14] Jiya-garg9971 commented on #128
please assign it to me

[2022-10-13 16:35] Shahin2003 commented on #128
@biratdatta @Jiya-garg9971  i fixed the issue already.

[2022-10-13 16:35] #128 closed

[2022-10-13 19:16] VaishnaviYRathod opened #217 "I wanna add a dark and light mode to this site"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-13 20:01] Muhammad235 opened #219 "Addition of unique animated css pre-loader"
I want to add series of css animated pre-loaders

[2022-10-14 09:21] whizzbbig commented on #219
Hi @Muhammad235 can you tell me what you're trying to resolve here so i can help you thoroughly with that and achieve it

[2022-10-14 10:03] undextered commented on #184
Please merge my Pull Request

[2022-10-15 03:27] SattyamSamania commented on #26
If the issue is still open please assign this to me and tell further what to do next.

[2022-10-15 05:36] danielprogramic opened #224 "More hooks in react"
I would like to add more hooks in the react cheatsheet.

[2022-10-15 06:02] sakshimishra19 opened #225 "Hotel-Website using HTML,CSS, JS and Bootstrap"
Hello @biratdatta
I want to work on this issue. Kindly assign it to me.

[2022-10-15 06:54] kritsss opened #226 "Addition of 404 error page using react"

[2022-10-15 06:54] kritsss opened #227 "Addition of a TODO List using HTML, CSS, Javascript"

[2022-10-15 07:54] biratdatta commented on #205
Sure Go ahead

[2022-10-15 07:57] mansijasoria opened #230 "Shopping Frontend Page"
ui-workshop-tailwind

[2022-10-15 07:57] biratdatta commented on #230
Sure go ahead

[2022-10-15 08:13] siddhesh-coder commented on #230
hello, can you please assign me this issue.

[2022-10-15 08:15] biratdatta commented on #230
No @siddhesh-coder

[2022-10-15 08:41] mansijasoria opened #233 "cab booking system"

[2022-10-15 08:42] biratdatta commented on #233
Sure Go ahead

[2022-10-15 08:43] Muhammad235 commented on #219
@biratdatta could you please assign this task to me

[2022-10-15 08:50] mansijasoria opened #235 "tourismsystem"

[2022-10-15 10:54] Xester22 opened #237 "Dark Mode Extension"
*Is your feature request related to a problem? Please describe.*
A dark mode chrome extension that allows any web page to change into dark mode

*Describe the solution you'd like*
Many pages didn't support dark mode for that use my extension to switch in dark mode

*Describe alternatives you've considered*
A clear and concise description of any alternative solutions or features you've considered.

[2022-10-15 14:45] anushkamandal25 opened #239 "Add Restaurant/Hotel Landing Page"

[2022-10-15 14:46] anushkamandal25 opened #240 "To Do List with User Profile in Django"

[2022-10-15 14:47] anushkamandal25 opened #241 "Drumkit made using Javascript"

[2022-10-15 16:07] Manish12-verma commented on #172
please assign this task to me ,i want to add my portfolio
portfolio link:-https://manish12-verma.github.io/myportfolio.github.io/

[2022-10-15 16:10] Manish12-verma commented on #227
hey,please assign thi task to me i want to fix this issue

[2022-10-15 19:24] shrushti2001 commented on #239
Can i work on this please?

[2022-10-16 06:36] nandinitrivedi05 commented on #205
its done !! @biratdatta

[2022-10-16 10:16] #209 closed

[2022-10-16 17:36] prashant-jadu commented on #91
can you please assign it to me?? I will design it in better way.

[2022-10-16 21:30] shashwat933 commented on #235
can I get this issue??

[2022-10-16 21:31] shashwat933 commented on #226
Can I take this issue?? I know react.

[2022-10-17 02:30] Girlwithasmile opened #251 "Mental health awareness website landing page"
I am a hackthoberfest contributer and would like to add frontend of a mental health awareness website. Kindly assign this to me.

[2022-10-17 03:42] biratdatta commented on #251
Sure go ahead

[2022-10-17 03:43] biratdatta commented on #226
go ahead @shashwat933

[2022-10-17 14:17] shashwat933 commented on #226
Please consider in hacktober fest

[2022-10-17 16:58] komalsoni4 commented on #235
Please assign me this

[2022-10-18 10:30] itsimmad opened #255 "I want to add nest js crud app"

[2022-10-19 02:22] komalsoni4 commented on #227
please assign me this issue and also add label of hacktoberfest

[2022-10-19 02:23] komalsoni4 commented on #135
please assign me this issue

[2022-10-19 02:24] komalsoni4 commented on #70
please assign me this issue

[2022-10-19 02:26] komalsoni4 commented on #43
please assign me this issue

[2022-10-19 02:27] komalsoni4 commented on #32
please close this issue now

[2022-10-19 02:27] #32 closed

[2022-10-19 02:27] komalsoni4 commented on #32
done

[2022-10-19 02:28] komalsoni4 commented on #26
i will also like to contribute please assign me

[2022-10-19 07:57] faria-karim-porna opened #261 "A Clock App"
Hey @biratdatta I want to create a clock app using HTML, CSS and JS. Can I add this? If yes, please assig me the task with 'hacktoberfest' label

[2022-10-19 08:01] PRO-BROS commented on #43
Thanks god i do not use such tags in my [site](https://prhocoding.com/)

[2022-10-19 08:45] Brymmobaggins opened #262 "can i add a counter app project built with HTML, CSS and JavaScript"
I would like to add a counter app project built with vanilla JavaScript.

[2022-10-19 10:58] lemostrash commented on #135
@biratdatta I have some simple ideas for the readme, can I assign them?

[2022-10-19 14:12] biratdatta commented on #135
Sure @lemostrash

[2022-10-19 14:13] biratdatta commented on #255
Sure

[2022-10-19 14:14] biratdatta commented on #43
@komalsoni4 go ahead

[2022-10-19 14:16] biratdatta commented on #237
Go ahead

[2022-10-19 15:10] charu-chaturvedi commented on #262
Can you assign me this issue?

[2022-10-21 13:07] #172 closed

[2022-10-21 14:36] tarunbisht-24 opened #276 "To-Do-List"
I jus wanted to add a TodoList in which you can easily add or remove the tasks, It will be very helpful for beginners to learn as it will be built on HTML, CSS, JS, Node.js, Express.js etc. Please assign me this issue under the tag of Hacktoberfest 2022.

[2022-10-21 14:36] tarunbisht-24 opened #277 "To-Do-List"
I jus wanted to add a TodoList in which you can easily add or remove the tasks, It will be very helpful for beginners to learn as it will be built on HTML, CSS, JS, Node.js, Express.js etc. Please assign me this issue under the tag of Hacktoberfest 2022.

[2022-10-21 15:10] #277 closed

[2022-10-22 09:47] #51 closed

[2022-10-27 16:33] ninjas007 opened #284 "add card hover css animation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-29 21:49] BoshraJaber opened #288 "Folder is not Opening + React Documentation needs updating to Version18"
I would like to contribute @biratdatta
**Describe the bug**
- [ ] A folder called "Business_Landing_Page" is not opening
- [ ] React Cheat sheet is using old versions, some are not used anymore

[2022-11-09 14:17] santhos-13 opened #291 "Add light or dark mode using react and chakra ui"
**Is your feature request related to a problem? Please describe.**
normal light or dark mode requires more no. of lines of code.

**Describe the solution you'd like**
But using react and chakra ui we can add reusable theme toggle button.

**Additional context**
![image](https://user-images.githubusercontent.com/105668165/200855442-e33d795f-e47d-4e03-8d52-2ced04170abf.png)

[2022-11-09 14:25] santhos-13 commented on #291
@biratdatta Assign this to me so that i will start working

[2022-11-09 17:11] biratdatta commented on #291
cool go ahead!

[2022-11-10 10:16] santhos-13 commented on #291
#294